body{
    margin-top: 20px;
}

#logo{
    width: 200px;
    padding: 0;
    margin: 0;
}

#view ul{
    padding: 0;
    list-style-type: none;
}

#view li{
    display: inline;
    padding-right: 10px;

}

.active{
    font-weight:500;
    font-size: 18px;
}

#view1 ul{
    padding: 0;
    list-style-type: none;
}
#view1 li{
    display: inline;
}
#profileEditor, .imgbox{
    display: flex;
}
#profileEditor>h4{
    align-self: center;
}
.imgbox{
    align-items: center;
    padding: 20px 0px;
}
#subheader ul{
    display: flex;
    justify-content: space-between;
}
a{
    min-width: 3em;
    text-align: center;
}
.btn-outline-white {
    border: none;
}
#search1{
    width: 300px;
}